<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Alien</title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

</head>

<body>
  {% include "school/navbar_teacher.html" %}

  <br>
  <br>
  <div class="jumbotron" style="margin-bottom:0px;">
    <h1 class="display-4">Hello, Teacher</h1>
    <p class="lead">Welcome to School Management System.</p>
    <hr class="my-4">
    <p>You can access various features after Login.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="teachersignup" role="button">Apply For Job</a>
      <a class="btn btn-primary btn-lg" href="teacherlogin" role="button">Login</a>
    </p>
  </div>

  {% include "school/footer.html" %}
</body>

</html>


